body{
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    font-family: Roboto, sans-serif, arial;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    *::selection {
        background: var(--dark-color);
        color: var(--light-color);
      }
      .main-container{
        background-color: var(--light-color);
        position: relative;
        width: 100%;
        max-width: 900px;
        height: auto;
        box-shadow: -1px -3px 35px -20px rgba(0,0,0,0.3);
        -webkit-box-shadow: -1px -3px 35px -20px rgba(0,0,0,0.3);
        -moz-box-shadow: -1px -3px 35px -20px rgba(0,0,0,0.3);
      }
      .main-container header{
        background-color: #fcfafa;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main-container header a{
        text-decoration: none;
        margin-top: -10px;
      }
      .main-container header h1{
        color: var(--dark-color);
        font-size: 60px;
        font-weight: 100;
        color: rgba(14, 13, 13, 0.8);
        margin: 0;
      }
      nav,
      nav .nav-list,
      nav .nav-list .nav-items a{
        display: flex;
        width: 100%;
        align-items: center;
        box-sizing: border-box;
        background-color: #eca4da;
        margin-top: 1%;

      }
      nav{
        background-color: var(--primary-color);
        height: 54px;
        justify-content: center;
        padding: 0;
      }
      nav .nav-list{
        list-style: none;
        height: 100%;
        justify-content: center;
        padding: 0;
      }
      nav .nav-list .nav-items{
        height: 100%;
      }
      nav .nav-list .nav-items a{
        color: var(--light-color);
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
        font-weight: 300;
        height: 100%;
        justify-content: center;
        padding: 0 27.4px;
      }
      nav .nav-list .nav-items a:hover{
        color: var(--dark-color);
      }
      nav .nav-list .nav-items a.active{
        color: var(--dark-color);
      }
      
      #menu-icon{
        display: none;
      }
      #menu-icon > span{
        display: block;
        background-color: var(--light-color);
        width: 30px;
        height: 3px;
        margin: 5px;
        transition-duration: 300ms;
        border-radius: 5px;
      }
      #menu-icon.toggle > .bar1 {
        transform: translate(0, 8px) rotate(-45deg);
      }
      #menu-icon.toggle > .bar2 {
        opacity: 0;
      }
      #menu-icon.toggle > .bar3 {
        transform: translate(0, -8px) rotate(45deg);
    }
  .box{
    width: 450px;
    background: rgb(95, 35, 70);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    
  }
  .box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h3{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100px;
    font-style: bold;
  }
  .box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    
  }
  .box p{
    text-align: justify;
  
  }
  .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    text-align: center;

  }
  .box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
    
  }
  .box li a:hover{
    color: #bbb4b4;
    
  }
  .box2{
    width: 500px;
    background: rgb(95, 35, 70);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
  
  }
  .box2-img{
    border-radius: 10%;
    width: 200px;
    height: 200px;
  
  }